/*顶部*/

.allroom_list>ul{
    margin: 10px;
}
.allroom_list>ul li{
    float: left;
    font-family: Verdana,sans-serif;
}
.allroom_list>ul li.diver{
    margin:0 6px;
}
.allroom_list>ul li>a{
    color: dodgerblue;
}
.allroom_list>ul li>a:hover{
    text-decoration: underline;
}
/*图片*/
.products_data{
    width: 1325px;

    display:flex;
    justify-content:center;
    flex-wrap: nowrap;
}
.products_img{
    width:590px;
    height: 679px;
    margin-right:50px;
}
.products_bimg{
    width:3000px;
    height: 500px;
    position:absolute;
}
.products_img>div:nth-child(1){
    width:500px;
    height:500px;
    overflow: hidden;
    position:relative;
}
.products_bimg>img{
    width:500px;
    height:500px;
    float: left;

}
.products_simg>div{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.products_simg img{
        width:114px;
    height:114px;
    border:1px solid #dddddd;
}
.products_details{
    width: 420px;
    height: 580px;
}
/*描述信息*/
.products_desc{
    font-family: Verdana,sans-serif;
    color: #000;
}
.products_desc>h2{
    font-size: 20px;
    line-height: 30px;
}
.products_desc>p{
    font-size: 14px;
    line-height: 30px;
}
.products_desc>h1{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 30px;
}
.products_desc>div:nth-child(4){
    margin:5px 0;
}
.products_desc>div:nth-child(6){
    margin:10px 0;
}
.products_desc>div:last-child>div:first-child,
.products_desc>div:last-child>div:nth-child(3),
.products_desc>div:last-child ul li{
    width:418px;
    height:48px;
    border: 1px solid silver;
    line-height: 48px;
    font-size: 14px;
    padding-left: 15px;
    box-sizing: border-box;
    background: white;
}
.products_desc>div:last-child ul li>span{
    margin-left: 15px;
}
.products_desc>div:last-child{
    position:relative;
}
.products_desc>div:last-child>div:nth-child(2),
.products_desc>div:last-child>div:nth-child(4){
    position:absolute;
    display: none;
}
.dropmic-menu{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    border-style: solid;
    border-color: #777 transparent;
    border-width: 6px 6px 0 6px;
}
.dropmic-menu1{
    margin-top: -25px;
}
.dropmic-menu2{
    margin-top: 20px;
}
.products_number{
    font-size: 14px;
    font-family: Verdana,sans-serif;
    width: 420px;
    height: 48px;
    line-height: 48px;
    margin-top:20px;

}
.products_number>input{
    float:right;
    width:56px;
    height: 30px;
    border:1px solid silver;
    text-align:center;
    border-radius:2px;
    box-shadow: none;
}
.products_number>input:focus{
    outline: 0;
}
.products_cart>button{
    width:420px;
    height:48px;
    background: linear-gradient(to bottom,#3373c7 0,#0051ba 100%);
    color:white;
    font-weight: bold;
}
.products_cart>button:hover{
    outline: none;
}
.products_stock>p{
    font-size: 12px;
    font-family: Verdana,sans-serif;
    font-weight: bold;
    margin:15px 0;
}
.products_stock>div:nth-child(2),
.products_stock>ul li {
    width:420px;
    height:35px;
    border: 1px solid silver;
}
.products_stock>div:nth-child(2)>span{
    padding-left: 15px;
}
.products_stock>ul li>span{
    padding-left:15px;
}
.products_stock>div{
    position: relative;
}
.products_stock span{
    font-size: 14px;
    font-family: Verdana,sans-serif;
    line-height: 35px;
}
.dropmic-menu3{
    margin-top:0;
}
.products_stock>li{
    background: white;
}
.products_stock>ul{
    position: absolute;
    background: white;
    z-index: 100;
    display:none;
}
.products_stock>div:nth-child(4){
    margin-top:20px;
}
.products_stock>ul{

}
/*tabs样式*/
#my-tabs{
    font-size: 13px;
    line-height: 19px;
    color: #000;
    font-family: Verdana,sans-serif;
    !important;
    width: 1080px;
    margin:0 auto;
}
#my-tabs>div.tab-content>div.tab-pane{
    border-bottom:1px solid #ddd;
    padding:20px 10px 20px 50px;
    position: relative;
}
/*tabs描述样式*/
#my-tabs>div.tab-content>div:nth-child(1){
    padding-bottom: 80px;
}
#my-tabs>div.tab-content>div:nth-child(1)>ul{
    display:inline-block;
}
#my-tabs>div.tab-content>div:nth-child(1)>ul li{
    list-style-type: disc;
    margin: 5px 5px 0 0;
}
#my-tabs>div.tab-content>div:nth-child(1)>div:nth-child(2) {
    position:absolute;
    margin-top: 5px;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: bold;
}
/*相关提示*/
#my-tabs>div.tab-content>div:nth-child(1)>div:nth-child(3){
    width:380px;
    position: absolute;
    top:24px;
    left:450px;
}
/*保养说明*/
#my-tabs>div.tab-content>div:nth-child(1)>div:nth-child(4){
    position:absolute;
    margin-bottom: 10px;
    left:450px;
}
#my-tabs>div.tab-content>div:nth-child(1)>div:nth-child(5){
    position: absolute;
    top:24px;
    right:20px;
    background: #fafafa;
    padding:20px;
}
/*此产品需要组装*/
.my-tabs-keys{
    margin-bottom: 30px;
}
#my-tabs>div.tab-content>div:nth-child(3)>div:nth-child(4){
    background-color: #ddd;
}
#my-tabs>div.tab-content>div:nth-child(3)>div:nth-child(4)>a{
    color: #0aa1ed;
}
/*table 表格*/
#my-tabs>div.tab-content>div:nth-child(4)>table{
    width: 100%;
    border-collapse: collapse;
}
#my-tabs>div.tab-content>div:nth-child(4)>table td,#my-tabs>div.tab-content>div:nth-child(4)>table th{
    padding: 4px;
    text-align: center;
}
#my-tabs>div.tab-content>div:nth-child(4)>table>tbody>tr:nth-child(1),
#my-tabs>div.tab-content>div:nth-child(4)>table>tbody>tr:nth-child(3){
    background-color:#f4f4f4;
}
/*其他产品*/
/*第一行*/
div.other_things{
    width: 1080px;
    margin:0 auto;
    font-size: 13px;
    color: #000;
    font-family: Verdana,sans-serif;


}
div.other_things_oneroom{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
}
div.other_things a{
    color: #0f0f0f;
}
div.other_things_oneroom>p:nth-child(1){
    font-weight: bold;
    margin: 20px 0 20px  50px;
}
div.other_things_oneroom>div:nth-child(2) ul{
    display:flex;
    justify-content: start;
}
li.other_thing_oneroom_1{
    margin-right:20px;
}
/*第一个产品*/
li.other_thing_oneroom_1>div:nth-child(1)>div:nth-child(1)>img{
    width: 150px;
    height: 150px;
}
li.other_thing_oneroom_1>div:nth-child(1)>div:nth-child(4)>button{

    width: 150px;
    height:25px;
    margin-top: 10px;
    font-size: 8px;
    line-height: 12px;
    color:white;
    background: linear-gradient(to bottom,#3373c7 0,#0051ba 100%);
    border-radius: 5px;
}
div.other_things_samelogo{

}
/*第三行*/
div.other_things_samething{
    width:1020px;
    overflow: hidden;
}

